@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
font-family: "Poppins", sans-serif;
}

.content {
margin-top: 70px;
}

.header {
padding: 15px;
position: fixed;
top: 0;
width: 100%;
z-index: 9999;
}

.left-title {
width: 100px;
color: #fff;
font-size: 18px;
float: left;
}

.right-title {
width: 180px;
text-align: right;
float: right;
color: #fff;
}

.quiz-body {
margin-top: 15px;
padding-bottom: 50px;
}

.option-block-container {
margin-top: 20px;
max-width: 420px;
}

.option-block {
padding: 10px;
background: aliceblue;
border: 1px solid #2f00ff;
margin-bottom: 10px;
cursor: pointer;
}

.result-question {
font-weight: bold;
}

.c-wrong {
margin-left: 20px;
color: rgb(25, 0, 255);
}

.c-correct {
margin-left: 20px;
color: rgb(25, 0, 255);
}

.last-row {
border-bottom: 1px solid #ccc;
padding-bottom: 25px;
margin-bottom: 25px;
}

.res-header {
border-bottom: 1px solid #ccc;
margin-bottom: 15px;
padding-bottom: 15px;
}

.result-container {
margin-top: 10%;
}
